:root {
  /* desktop */
  --desktop-gap: 1.04vw;
  --desktop-padding-20: 20px;
  --desktop-img-card-radius: 12px;
  --desktop-img-in-card-radius: 5px;
  /* mobile */
  --mobile-gap-8: 8px;
  --mobile-gap-12: 12px;
  --mobile-gap-16: 16px;
  --mobile-gap-24: 24px;
  --mobile-gap-32: 32px;

  --mobile-page-gap-s: 80px;

  --mobile-padding-8: 8px;
  --mobile-padding-16: 16px;

  --mobile-m-padding-left: calc(16px + env(safe-area-inset-left, 0px));
  --mobile-m-padding-right: calc(16px + env(safe-area-inset-right, 0px));

  /* tablets */
  --tablets-outer-padding: 16px;

  /* normal */
  /* border-radius */
  --simgle-img-border-radius: 5px;
  --incard-img-border-radius: 5px;
  --incard-vertical-img-border-radius: 5px;

  --incard-img-medium-border-radius: 10px;

  --incard-img-bigger-border-radius: 12px;

  --tag-border-radius: 8px;

  --card-border-radius: 10px;
  --bigger-card-radius: 12px;
  --tag-border-radius: 8px;

  --big-button-border-radius: 12px;
  --button-border-radius: 100px;

  --header-line-border-radius: 2px;

  --logo-nav-button-border-radius: 4px;
  --footer-border-radius: 12px 12px 0px 0px;

  /* paddings */
  --small-card-padding: 8px;
  --medium-card-padding: 16px;

  /* gaps */
  --gap-12-104: 12px;
  --gap-12-24: 12px;
}

/* laptops */
@media only screen and (min-device-width: 1200px) and (pointer: fine) and (hover: hover) and (-webkit-min-device-pixel-ratio: 1) {
  :root {
    --incard-img-border-radius: 10px;
    --simgle-img-border-radius: 12px;

    --card-border-radius: 16px;

    --small-card-padding: 12px;

    --medium-card-padding: 28px;

    --tag-border-radius: 12px;

    --incard-vertical-img-border-radius: 8px;

    /* gaps */
    --gap-12: 12px;

    --gap-12-104: 1.04vw;
    --gap-12-24: 24px;
  }
}

html {
  font-size: 16px;
  overflow: visible;
}

.no-scroll {
  overflow: hidden;
}

@keyframes tv {
  from {
    background-position-y: 0;
  }

  to {
    background-position-y: 100%;
  }
}

@keyframes th {
  from {
    background-position-x: 0;
  }

  to {
    background-position-x: 100%;
  }
}

/* @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 14px;
  }
} */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 14px;
  }
} */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 14px;
  }
} */

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 12px;
  border-radius: 12px;
  color: white;
  font-size: 1.25rem;
  z-index: 1000;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.card-wrapper:hover .tooltip {
  opacity: 1;
}

.faded {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* > a {
  color: inherit !important;
  text-decoration: none;
}

@font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Book"),
    url("../assets/fonts/ppneuemontreal-book.woff") format("woff");
}

/* @font-face {
  font-family: "PP Neue Montreal Italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Italic"),
    url("../assets/fonts/ppneuemontreal-italic.woff") format("woff");
} */

/* @font-face {
  font-family: "PP Neue Montreal Thin";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Thin"),
    url("../assets/fonts/ppneuemontreal-thin.woff") format("woff");
} */

/* @font-face {
  font-family: "PP Neue Montreal Medium";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Medium"),
    url("../assets/fonts/ppneuemontreal-medium.woff") format("woff");
} */

/* @font-face {
  font-family: "PP Neue Montreal SemiBold italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal SemiBold italic"),
    url("../assets/fonts/ppneuemontreal-semibolditalic.woff") format("woff");
} */

@font-face {
  font-family: "PP Neue Montreal Bold";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Bold"),
    url("../assets/fonts/ppneuemontreal-bold.woff") format("woff");
}

@font-face {
  src: url("../assets/fonts/FormaDJRCyrillicText-Medium-Testing.woff2")
      format("woff2"),
    url("../assets/fonts/FormaDJRCyrillicText-Medium-Testing.woff")
      format("woff");
  font-family: "FormaDJRCyrillicText";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../assets/fonts/FormaDJRCyrillicText-Bold-Testing.woff2")
      format("woff2"),
    url("../assets/fonts/FormaDJRCyrillicText-Bold-Testing.woff") format("woff");
  font-family: "FormaDJRCyrillicTextBold";
  font-style: normal;
  font-weight: bold;
}

.ppbook {
  font-family: "PP Neue Montreal Book", Arial, Helvetica, sans-serif;
}

.ppmedium {
  font-family: "PP Neue Montreal Medium", Arial, Helvetica, sans-serif;
}

.ppbold {
  font-family: "PP Neue Montreal Bold", Arial, Helvetica, sans-serif;
}

.djrmedium {
  font-family: "FormaDJRCyrillicText", Arial, Helvetica, sans-serif;
}

.djrbold {
  font-family: "FormaDJRCyrillicTextBold", Arial, Helvetica, sans-serif;
}
