html {
  font-size: 16px;
  overflow: visible;
}

/* @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 14px;
  }
} */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 14px;
  }
} */

/* @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  html {
    font-size: 14px;
  }
} */

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 12px;
  border-radius: 12px;
  color: white;
  font-size: 1.25rem;
  z-index: 1000;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.card-wrapper:hover .tooltip {
  opacity: 1;
}

.faded {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* > a {
  color: inherit !important;
  text-decoration: none;
}

@font-face {
  font-family: "PP Neue Montreal Book";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Book"),
    url("../assets/fonts/ppneuemontreal-book.woff") format("woff");
}

/* @font-face {
  font-family: "PP Neue Montreal Italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Italic"),
    url("../assets/fonts/ppneuemontreal-italic.woff") format("woff");
} */

/* @font-face {
  font-family: "PP Neue Montreal Thin";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Thin"),
    url("../assets/fonts/ppneuemontreal-thin.woff") format("woff");
} */

/* @font-face {
  font-family: "PP Neue Montreal Medium";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Medium"),
    url("../assets/fonts/ppneuemontreal-medium.woff") format("woff");
} */

/* @font-face {
  font-family: "PP Neue Montreal SemiBold italic";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal SemiBold italic"),
    url("../assets/fonts/ppneuemontreal-semibolditalic.woff") format("woff");
} */

@font-face {
  font-family: "PP Neue Montreal Bold";
  font-style: normal;
  font-weight: normal;
  src: local("PP Neue Montreal Bold"),
    url("../assets/fonts/ppneuemontreal-bold.woff") format("woff");
}

@font-face {
  src: url("../assets/fonts/FormaDJRCyrillicText-Medium-Testing.woff2")
      format("woff2"),
    url("../assets/fonts/FormaDJRCyrillicText-Medium-Testing.woff")
      format("woff");
  font-family: "FormaDJRCyrillicText";
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: url("../assets/fonts/FormaDJRCyrillicText-Bold-Testing.woff2")
      format("woff2"),
    url("../assets/fonts/FormaDJRCyrillicText-Bold-Testing.woff") format("woff");
  font-family: "FormaDJRCyrillicTextBold";
  font-style: normal;
  font-weight: bold;
}

.ppbook {
  font-family: "PP Neue Montreal Book", Arial, Helvetica, sans-serif;
}

.ppmedium {
  font-family: "PP Neue Montreal Medium", Arial, Helvetica, sans-serif;
}

.ppbold {
  font-family: "PP Neue Montreal Bold", Arial, Helvetica, sans-serif;
}

.djrmedium {
  font-family: "FormaDJRCyrillicText", Arial, Helvetica, sans-serif;
}

.djrbold {
  font-family: "FormaDJRCyrillicTextBold", Arial, Helvetica, sans-serif;
}
